minimum_pre_commit_version: "3.5.0"
files: ^.*\.py$
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.4.4'
    hooks:
      - id: ruff
        args: [ --fix ]
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black