[tool.poetry]
name = "PicImageSearch"
version = "3.9.5"
description = "PicImageSearch APIs for Python 3.x 适用于 Python 3 以图搜源整合API"
authors = ["kitUIN <kulujun@gmail.com>"]
maintainers = ["kitUIN <kulujun@gmail.com>", "lleans", "chinoll", "NekoAria"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "PicImageSearch" }
]
homepage = "https://github.com/kitUIN/PicImageSearch"
repository = "https://github.com/kitUIN/PicImageSearch"
keywords = ["ascii2d", "baidu", "e-hentai", "google", "iqdb", "saucenao", "tracemoe", "yandex"]

[tool.poetry.dependencies]
python = "^3.7"
httpx = "^0.24.1"
lxml = "^4.9.3"
pyquery = "^2.0.0"
socksio = { version = "^1.0.0", optional = true }

[tool.poetry.extras]
socks = ["socksio"]

[tool.poetry.dev-dependencies]
loguru = "^0.7.0"

[tool.mypy]
python_version = "3.7"
ignore_missing_imports = true
implicit_reexport = true
pretty = true
show_error_codes = true
strict = true

[tool.ruff]
select = ["F", "E", "W", "I", "UP"]
target-version = "py37"
line-length = 120

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"