[tool.poetry]
name = "PicImageSearch"
version = "3.7.8"
description = "PicImageSearch APIs for Python 3.x 适用于 Python 3 以图搜源整合API"
authors = ["kitUIN <kulujun@gmail.com>"]
maintainers = ["kitUIN <kulujun@gmail.com>", "lleans", "chinoll", "NekoAria"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "PicImageSearch" }
]
homepage = "https://github.com/kitUIN/PicImageSearch"
repository = "https://github.com/kitUIN/PicImageSearch"
keywords = ["google", "iqdb", "saucenao", "tracemoe", "ascii2d"]

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = {extras = ["speedups"], version = "^3.8.4"}
aiohttp_socks = { version = "^0.8.0", optional = true }
lxml = "^4.9.2"
multidict = "^6.0.4"
pyquery = "^2.0.0"

[tool.poetry.extras]
socks = ["aiohttp_socks"]

[tool.poetry.dev-dependencies]
loguru = "^0.6.0"

[tool.mypy]
python_version = "3.7"
ignore_missing_imports = true
implicit_reexport = true
pretty = true
show_error_codes = true
strict = true

[tool.ruff]
select = ["F", "E", "W", "I"]
target-version = "py37"
line-length = 120

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"