[tool.poetry]
name = "PicImageSearch"
version = "3.10.5"
description = "PicImageSearch APIs for Python 3.x 适用于 Python 3 以图搜源整合API"
authors = ["kitUIN <kulujun@gmail.com>"]
maintainers = ["kitUIN <kulujun@gmail.com>", "lleans", "chinoll", "NekoAria"]
license = "MIT"
readme = "README.md"
packages = [{ include = "PicImageSearch" }]
homepage = "https://github.com/kitUIN/PicImageSearch"
repository = "https://github.com/kitUIN/PicImageSearch"
keywords = [
    "ascii2d",
    "baidu",
    "e-hentai",
    "google",
    "iqdb",
    "saucenao",
    "tracemoe",
    "yandex",
]

[tool.poetry.dependencies]
python = "^3.9"
httpx = "^0.27.0"
lxml = "^5.2.2"
pyquery = "^2.0.0"
socksio = { version = "^1.0.0", optional = true }

[tool.poetry.extras]
socks = ["socksio"]

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
loguru = "^0.7.2"
mypy = "^1.11.0"
pre-commit = "^3.7.1"
ruff = "^0.5.4"

[tool.mypy]
python_version = "3.9"
ignore_missing_imports = true
implicit_reexport = true
pretty = true
show_error_codes = true
strict = true

[tool.ruff]
target-version = "py39"
line-length = 120

[tool.ruff.lint]
select = ["F", "E", "W", "I", "UP"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
